ALTER TABLE public.employees DISABLE ROW LEVEL SECURITY; ALTER TABLE public.hour_categories DISABLE ROW LEVEL SECURITY; ALTER TABLE public.chantiers DISABLE ROW LEVEL SECURITY; ALTER TABLE public.time_entries DISABLE ROW LEVEL SECURITY; ALTER TABLE public.material_costs DISABLE ROW LEVEL SECURITY;
